/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.font-48-70-b {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
}

.font-32-46-b {
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
}

.font-32-35 {
  font-size: 32px;
  line-height: 35px;
}

.font-29-42 {
  font-size: 29px;
  line-height: 42px;
}

.font-24-35-b {
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
}

.font-20-29 {
  font-size: 20px;
  line-height: 29px;
}

.font-18-26-b {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.font-18-28 {
  font-size: 18px;
  line-height: 28px;
}

.font-18-26 {
  font-size: 18px;
  line-height: 26px;
}

.font-16-32 {
  font-size: 16px;
  line-height: 32px;
}

.font-16-24 {
  font-size: 16px;
  line-height: 24px;
}

.font-12-17 {
  font-size: 12px;
  line-height: 17px;
}

.font-c-main {
  color: #56C4C5;
}

@media (max-width: 768px) {
  .s-font-32-46-b {
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
  }

  .s-font-28-40-b {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
  }

  .s-font-28-32 {
    font-size: 28px;
    line-height: 32px;
  }

  .s-font-24-35-b {
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
  }

  .s-font-24-35 {
    font-size: 24px;
    line-height: 35px;
  }

  .s-font-18-26-b {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  .s-font-16-24 {
    font-size: 16px;
    line-height: 24px;
  }

  .s-font-14-20 {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn {
  border-radius: 27px;
  background: #56C4C5;
  padding: 12px 32px;
  font-size: 18px;
  line-height: 26px;
  font-family: "Comfortaa";
  color: #fff;
  display: inline-block;
  border: 1px solid #56C4C5;
}

.btn:hover {
  background: #fff;
  color: #56C4C5;
}

.card {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
}

@media (max-width: 992px) {
  .s-display-n {
    display: none;
  }
}
body {
  font-family: "Noto Sans TC", "sans-serif";
}

.indexBody {
  background-image: url("../images/ball01.svg"), url("../images/ball02.svg"), url("../images/ball03.svg");
  background-repeat: no-repeat;
  background-size: 360px, 310px, 150px;
  background-position: -222px calc(100vh - 180px), calc(100vw - 210px) calc(230vh - 180px), 50px 340vh;
  color: #221E1F;
}

@media (max-width: 768px) {
  .indexBody {
    background-size: 126px, 135px, 153px;
    background-position: -77px calc(100vh + 15px), calc(100vw - 88px) 460vh, -76px 750vh;
  }
}
.container {
  margin: 0 auto;
  max-width: 1120px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 992px) {
  .container {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .container {
    width: calc(100vw - 20px);
    padding: 0 20px;
  }
}
.top {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}
.top a {
  color: #fff;
  width: 71px;
  height: 71px;
  line-height: 71px;
  display: block;
  text-align: center;
  background: #56C4C5;
  border-radius: 100%;
  font-weight: bold;
  border: 1px solid #56C4C5;
  font-family: "Wendy One";
}
.top a:hover {
  background: #fff;
  color: #56C4C5;
}

@media (max-width: 768px) {
  .top a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
}
.header {
  height: 100vh;
  background-image: url("../images/home.svg"), url("../images/bg_home.svg");
  background-repeat: no-repeat;
  background-size: auto 70%, auto 100%;
  background-position: center right 7vw, right;
}
.header .content {
  height: 70vh;
  padding: 158px 0;
}
.header .content h1 {
  color: #56C4C5;
}

@media (max-width: 768px) {
  .header {
    background-image: url("../images/home.svg"), url("../images/bg_home_sm.svg");
    background-size: 80vw auto, 89vw auto;
    background-position: bottom 10vh center;
  }
  .header .content {
    padding: 0 20px;
  }
}
.header-bar {
  max-width: 1088px;
  margin: 0 auto;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bar .logo img {
  height: 40px;
}
.header-bar .programFee {
  padding: 8px 32px;
  border-radius: 22px;
  background: #FF5D50;
  color: #fff;
  line-height: 24px;
  border: 1px solid #FF5D50;
}
.header-bar .programFee:hover {
  background: #fff;
  color: #FF5D50;
}

@media (max-width: 768px) {
  .header-bar {
    background: #fff;
    border-bottom: 2px solid #FFD153;
    padding: 24px 10vw;
  }
  .header-bar .logo img {
    height: 24px;
  }
}
.platform {
  text-align: center;
}
.platform ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.platform ul li {
  text-align: center;
  width: 28%;
}
.platform ul li img {
  width: 90px;
  margin-right: auto;
  margin-left: auto;
}
.platform ul li p {
  color: #747474;
}

@media (max-width: 768px) {
  .platform {
    width: 80vw;
  }
  .platform ul {
    display: block;
  }
  .platform ul li {
    width: 100%;
  }
  .platform ul li img {
    width: 60px;
  }
}
.role {
  text-align: center;
}
.role ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.role ul li {
  width: 23.5%;
}
.role ul li .roleBody {
  padding: 16px 16px 24px;
}
.role ul li img {
  border-radius: 12px 12px 0px 0px;
}
.role ul li h3 {
  color: #56C4C5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .role ul {
    width: 67vw;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .role ul li {
    width: 100%;
  }
}
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .featureContent {
  width: 45%;
}
.feature ul {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18px 28px;
}
.feature ul li {
  width: 230px;
  padding: 32px 32px 48px;
}
.feature ul li .icon {
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
.feature ul li:first-child .icon {
  background-image: url("../images/icon01.svg");
}
.feature ul li:nth-child(2) .icon {
  background-image: url("../images/icon02.svg");
}
.feature ul li:nth-child(3) .icon {
  background-image: url("../images/icon03.svg");
}
.feature ul li:nth-child(4) .icon {
  background-image: url("../images/icon04.svg");
}
.feature ul li h3 {
  font-weight: bold;
}

@media (max-width: 768px) {
  .feature {
    display: block;
  }
  .feature .featureContent {
    text-align: center;
    width: 100%;
  }
  .feature ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature ul li {
    padding: 32px 24px 48px;
  }
}
.evaluate {
  text-align: center;
}
.evaluate .userList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}
.evaluate .userList > li {
  width: 32.5%;
  padding: 48px 32px 24px;
  position: relative;
}
.evaluate .userList > li p {
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}
.evaluate .userList > li .userPic {
  background-size: contain;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
}
.evaluate .userList > li:first-child .userPic {
  background-image: url("../images/user01.jpg");
}
.evaluate .userList > li:nth-child(2) .userPic {
  background-image: url("../images/user02.jpg");
}
.evaluate .userList > li:nth-child(3) .userPic {
  background-image: url("../images/user03.jpg");
}
.evaluate .userBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.evaluate .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.evaluate .star li {
  margin-right: 8px;
  height: 24px;
  padding-top: 4px;
}
.evaluate .star img {
  height: 16px;
}
.evaluate .userInfo h3 {
  font-weight: bold;
}
.evaluate .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.evaluate .bar li {
  height: 10px;
  width: 10px;
  background: #DDDDDD;
  border-radius: 50px;
  margin-right: 8px;
}
.evaluate .bar li:last-child {
  width: 16px;
  background: #FFD153;
  margin-right: 0;
}

@media (max-width: 992px) {
  .evaluate .userList > li {
    width: 100%;
  }
  .evaluate .userList > li p {
    padding-bottom: 16px;
  }
}
footer .add {
  background: #fff;
  background-image: url("../images/home_footer.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 260px;
}

@media (max-width: 768px) {
  footer .add {
    background: #fff;
    background-image: url("../images/footer_sm.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 293px;
  }
}
.copyright {
  background: #F5F5F5;
  text-align: center;
  padding: 16px 0;
}

.program {
  height: 100vh;
  background-image: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: top right;
  position: relative;
}

@media (max-width: 768px) {
  .program {
    height: 100vh;
    background-image: url("../images/banner_sm.svg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: top 90px right;
  }
}
.program-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  background: #F7F9FD;
  border-radius: 0px 0px 0px 300px;
  z-index: -1;
}

@media (max-width: 768px) {
  .program-bg {
    height: calc(100vh - 10%);
    border-radius: 0px 0px 0px 150px;
    background-position: top 90px right;
  }
}
.bg-ball {
  background: url("../images/ball03.svg");
  background-repeat: no-repeat;
  background-size: 361px;
  background-position: -267px 120vh;
}

@media (max-width: 768px) {
  .bg-ball {
    background-size: 204px;
    background-position: -108px 210vh;
  }
}
.programList {
  max-width: 909px;
  margin: 8px auto 0;
  text-align: center;
}
.programList .peopleChoose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.programList .peopleChoose li {
  margin-right: 16px;
}
.programList .peopleChoose li:last-child {
  margin-right: 0;
}
.programList .peopleChoose a {
  display: block;
  padding: 12px 32px;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  color: #56C4C5;
  font-family: "Comfortaa";
  white-space: nowrap;
}
.programList .peopleChoose a:hover {
  background: #56C4C5;
  color: #fff;
}
.programList .peopleChoose .choose {
  background: #56C4C5;
  color: #fff;
}

@media (max-width: 768px) {
  .programList .peopleChoose li {
    margin-right: 8px;
  }
  .programList .peopleChoose a {
    padding: 8px 16px;
  }
}
@media (max-width: 576px) {
  .programList .peopleChoose {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow-x: scroll;
  }
}
.feeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feeList h3 {
  padding: 16px 24px;
  border-bottom: 1px solid #DDDDDD;
}
.feeList > li {
  width: 50%;
  margin-right: 2%;
  padding-bottom: 38px;
}
.feeList .feeBody {
  padding: 32px 23px 0 29px;
}

@media (max-width: 768px) {
  .feeList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feeList > li {
    margin-right: auto;
    margin-left: auto;
    max-width: 576px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .feeList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feeList > li {
    width: 100%;
    margin-right: 0;
    padding-bottom: 24px;
  }
  .feeList .feeBody {
    padding: 24px 16px 0px 16px;
  }
}
.feeFormula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feeFormula > div {
  background: #F5F5F5;
  border-radius: 12px;
  padding: 24px 32px;
  white-space: nowrap;
}
.feeFormula > div span {
  margin-right: 4px;
}

@media (max-width: 992px) {
  .feeFormula > div {
    width: 46%;
    padding: 16px 24px;
  }
}
.functionList {
  text-align: left;
}
.functionList li img {
  margin-right: 12px;
  display: inline;
}
.functionList li p {
  display: inline;
}

@media (max-width: 768px) {
  .functionList li img {
    width: 16px;
    line-height: 14px;
  }
}
.QAList ul {
  text-align: left;
}
.QAList ul li {
  background-image: url("../images/icon_plus.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: top 19px right 32px;
  padding: 16px 32px;
}
.QAList ul li p {
  display: none;
  color: #747474;
}
.QAList ul li p.show {
  display: block;
}
.QAList ul li.active {
  font-weight: bold;
  color: #56C4C5;
  background-image: url("../images/icon_minus.svg");
}
.QAList ul li.active p {
  font-weight: normal;
}

@media (max-width: 768px) {
  .QAList ul li {
    background-size: 16px;
    padding: 16px;
  }
}
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-92 {
  margin-bottom: 92px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-104 {
  margin-bottom: 104px;
}

@media (max-width: 768px) {
  .s-mb-16 {
    margin-bottom: 16px;
  }

  .s-mt-16 {
    margin-top: 16px;
  }

  .s-mb-20 {
    margin-bottom: 20px;
  }

  .s-mb-24 {
    margin-bottom: 24px;
  }

  .s-mb-32 {
    margin-bottom: 32px;
  }

  .s-mb-48 {
    margin-bottom: 48px;
  }

  .s-mb-60 {
    margin-bottom: 60px;
  }

  .s-mb-88 {
    margin-bottom: 88px;
  }
}