.font-48-70-b{
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
}
.font-32-46-b{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
}
.font-32-35{
    font-size: 32px;
    line-height: 35px;
}
.font-29-42{
    font-size: 29px;
    line-height: 42px;
}
.font-24-35-b{
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
}
.font-20-29{
    font-size: 20px;
    line-height: 29px;
}
.font-18-26-b{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}
.font-18-28{
    font-size: 18px;
    line-height: 28px;
}
.font-18-26{
    font-size: 18px;
    line-height: 26px;
}
.font-16-32{
    font-size: 16px;
    line-height: 32px;
}
.font-16-24{
    font-size: 16px;
    line-height: 24px;
}
.font-12-17{
    font-size: 12px;
    line-height: 17px;
}
.font-c-main{
    color: $main-color;
}
@media (max-width: 768px){
    .s-font-32-46-b{
        font-size: 32px;
        line-height: 46px;
        font-weight: bold;
    }
    .s-font-28-40-b{
        font-size: 28px;
        line-height: 40px;
        font-weight: bold;
    }
    .s-font-28-32{
        font-size: 28px;
        line-height: 32px;
    }
    .s-font-24-35-b{
        font-size: 24px;
        line-height: 35px;
        font-weight: bold;
    }
    .s-font-24-35{
        font-size: 24px;
        line-height: 35px;
    }
    .s-font-18-26-b{
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
    }
    .s-font-16-24{
        font-size: 16px;
        line-height: 24px;
    }
    .s-font-14-20{
        font-size: 14px;
        line-height: 20px;
    }
}
.btn{
    border-radius: 27px;
    background: $main-color;
    padding: 12px 32px;
    font-size: 26px;
    font-family: "Comfortaa";
    color: #fff;
    display: inline-block;
    border: 1px solid $main-color;
}
.btn:hover{
    background: #fff;
    color: $main-color;
}
@media (max-width: 768px){
    .s-display-n{
        display: none;
    }
}