body{
    font-family: "Noto Sans TC";
}
.indexBody{
    background-image:url("../images/ball01.svg"),url("../images/ball02.svg"),url("../images/ball03.svg");
    background-repeat: no-repeat;
    background-size:360px,310px,150px;
    background-position:-222px calc(100vh - 180px),calc(100vw - 210px) calc(230vh - 180px),50px 340vh;
    color: $black;
}
@media (max-width: 767px){
    .indexBody{
        background-size:126px,135px,153px;
        background-position:-77px calc(100vh + 15px),calc(100vw - 88px) 460vh,-76px 750vh;
    } 
}
.container{
    margin: 0 auto;
    max-width: 1088px;
}
@media (max-width: 767px){
    .container{
        width: 80vw;
    }
}
.top{
    position: fixed;
    top: 90vh;
    right: 5vw;
    a{
        color: #fff;
        width: 71px;
        height: 71px;
        line-height: 71px;
        display: block;
        text-align: center;
        background: $main-color;
        border-radius: 100%;
        font-weight: bold;
        border: 1px solid $main-color;
        font-family: "Wendy One";
        &:hover{
            background: #fff;
            color: $main-color;
        }
    }
}
@media (max-width: 767px){
    .top{
        a{
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
        }
    }
}
.header{
    height: 100vh;
    background-image: url("../images/home.svg"),url("../images/bg_home.svg");
    background-repeat: no-repeat;
    background-size: auto 70%, auto 100%;
    background-position: center right 7vw, right;
    .content{
        height: 70vh;
        padding: 158px 0;
        h1{
            color: $main-color;
        }
    }
}
@media (max-width: 767px) {
    .header{
        background-image: url("../images/home.svg"),url("../images/bg_home_sm.svg");
        background-size: 80vw auto, 89vw auto;
        background-position: bottom 10vh center;
        .content{
            padding: 0;
            h1{
                margin-bottom: 8px;
            }
            h2{
                margin-bottom: 16px;
            }
        }
    }
    
}
.header-bar{
    max-width: 1088px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px;
    .logo img{
        height: 40px;
    }
    .programFee{
        padding: 8px 32px;
        border-radius: 22px;
        background: $red;
        color: #fff;
        line-height: 24px;
        border: 1px solid $red;
        &:hover{
            background: #fff;
            color: $red;
        }
    }
}
@media (max-width: 767px) {
    .header-bar{
        background: #fff;
        border-bottom: 2px solid $yellow;
        padding: 24px 10vw;
        .logo img{
            height: 24px;
        }
    }
    
}
.platform{
    max-width: 969px;
    text-align: center;
    margin: 0 auto 100px;
    &>h2{
        margin-bottom: 48px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        li{
            display: flex;
            flex-direction: column;
            align-items: center; 
            width: 28%;
            img{
                width: 90px;
                margin-bottom: 24px;
            }
            h3{
                margin-bottom: 24px;
            }
            p{
                color: $gray;
            }
        }
    }
}
@media (max-width: 767px){
    .platform{
        width: 80vw;
        ul{
            display: block;
            li{
                width: 100%;
                margin-bottom: 24px;
                img{
                    width: 60px;
                    margin-bottom: 16px;
                }
                h3{
                    margin-bottom: 16px;
                }
            }
        }
    }
    
}
.role{
    text-align: center;
    margin-bottom: 100px;
    &>h2{
        margin-bottom: 16px;
    }
    &>p{
        margin-bottom: 48px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 23.5%;
            border-radius: 12px;
            box-shadow: 0px 2px 10px #00000014;
            background: #fff;
            .roleBody{
                padding: 16px 16px 24px;
            }  
            img{
                border-radius: 12px 12px 0px 0px;
            }
            h3{
                color: $main-color;
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 767px){
    .role{
        ul{
            width: 67vw;
            margin: 0 auto;
            flex-wrap: wrap;
            li{
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }
}
.feature{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 100px;
    .featureContent{
        width: 45%;
        padding: 50px;
        h2{
            margin-bottom: 16px;
        }
        a{
            margin-top: 48px;
        }
    }
    ul{
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            width: 230px;
            border-radius: 12px;
            box-shadow: 0px 2px 10px #00000014;
            padding: 32px 32px 48px;
            margin-bottom: 24px;
            .icon{
                width: 86px;
                height: 86px;
                background: #FFFFFF;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0px 2px 10px #00000014;
                border-radius: 100%;
            }
            &:first-child .icon{
                background-image: url("../images/icon01.svg");
            }
            &:nth-child(2) .icon{
                background-image: url("../images/icon02.svg");
            }
            &:nth-child(3) .icon{
                background-image: url("../images/icon03.svg");
            }
            &:nth-child(4) .icon{
                background-image: url("../images/icon04.svg");
            }
            h3{
                margin-top: 24px;
                margin-bottom: 16px;
                font-weight: bold;
            }
        }
    }
}
@media (max-width: 767px){
    .feature{
        display: block;
        .featureContent{
            text-align: center;
            width: 80vw;
        }
        ul{
            width: 67vw;
            display: block;
            margin: 0 auto;
            li{
                margin: 0 auto 24px;
                padding: 32px 24px 48px;
            }
        }
    }
    
}
.evaluate{
    text-align: center;
    &>h2{
        margin-bottom: 104px;
    }
    .userList{
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 24px;
        &>li{
            width: 32.5%;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            padding: 48px 32px 24px;
            position: relative;
            background: #fff;
            p{
                padding-bottom: 24px;
                border-bottom: 1px solid #DDDDDD;
            }
            .userPic{
                background-size: contain;
                height: 80px;
                width: 80px;
                border-radius: 100%;
                box-shadow: 0px 2px 10px #00000014;
                position: absolute;
                top: -50px;
            }
            &:first-child .userPic{
                background-image: url("../images/user01.jpg");
            }
            &:nth-child(2) .userPic{
                background-image: url("../images/user02.jpg");
            }
            &:nth-child(3) .userPic{
                background-image: url("../images/user03.jpg");
            }
        }
    }
    .userBody{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .star{
        display: flex;
        li{
            margin-right: 8px;
            height: 24px;
            padding-top: 4px;
        }
        img{
            height: 16px; 
        }
    }
    .userInfo{
        h3{
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
    .bar{
        display: flex;
        margin-bottom: 100px;
        justify-content: center;
        li{
            height: 10px;
            width: 10px;
            background: #DDDDDD;
            border-radius: 50px;
            margin-right: 8px;
            &:last-child{
                width: 16px;
                background: #FFD153;
                margin-right: 0;
            }
        }
        
    }
}
@media (max-width: 767px){
    .evaluate{
        .userList{
            &>li{
                width: 100%;
            }
        }
    }
}
footer{
    .add{ 
        background: #fff;
        background-image: url("../images/home_footer.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 260px;
        padding-bottom: 100px;
        a{
            margin-top: 48px;
        }
    }
}
@media (max-width: 767px){
    footer{
        .add{ 
            background: #fff;
            background-image: url("../images/footer_sm.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top: 293px;
            padding-bottom: 60px;
            a{
                margin-top: 24px;
            }
        }
    }
}
.copyright{
    background: #F5F5F5;
    text-align: center;
    padding: 16px 0;
}
// programFee.html
.program{
    height: 73vh;
    background-image: url("../images/banner.svg");
    background-repeat: no-repeat;
    background-size: auto 73vh;
    background-position: top right;
    position: relative;
    .content{
        margin-top: 92px;
    }
}
@media (max-width: 767px){
    .program{
        height: 100vh;
        background-image: url("../images/banner_sm.svg");
        background-repeat: no-repeat;
        background-size: 100vw auto;
        background-position: top 90px right;
    }
}
.program-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 62vh;
    background: #F7F9FD;
    border-radius: 0px 0px 0px 300px;
    z-index: -1;
}
@media (max-width: 767px){
    .program-bg{
        height: calc(100vh - 10%);
        border-radius: 0px 0px 0px 150px;
        background-position: top 90px right;
    }
}
.bg-ball{
    background: url("../images/ball03.svg");
    background-repeat: no-repeat;
    background-size: 361px;
    background-position: -267px 120vh;
}
@media (max-width: 767px){
    .bg-ball{
        background-size: 204px;
        background-position: -108px 210vh;
    }
   
}
.programList{
    max-width: 909px;
    margin: 8px auto 0;
    text-align: center;
    h2{
        margin-bottom: 48px;
    }
    .peopleChoose{
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
        li{
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            display: block;
            padding: 12px 32px;
            border: 1px solid $main-color;
            border-radius: 27px;
            color: $main-color;
            font-family: "Comfortaa";
        }
        .choose{
            background: $main-color;
            color: #fff;
        }
    }
}
@media (max-width: 767px){
    .programList{
        width: 93vw;
        .peopleChoose{
            justify-content: start;
            overflow-x:scroll;
            li{
                margin-right: 8px;
            }
            a{
                padding: 8px 16px;
                white-space:nowrap;
            }
        }
    }
}
.feeList{
    display: flex;
    margin-bottom: 94px;
    h3{
        padding: 16px 24px;
        border-bottom: 1px solid #DDDDDD;
    }
    &>li{
        width: 50%;
        margin-right: 2%;
        background: #fff;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        padding-bottom: 38px;
    }
    .feeBody{
        padding: 32px 23px 0 29px;
        &>p{
            margin-bottom: 32px;
        }
    }
}
@media (max-width: 767px){
    .feeList{
        flex-wrap: wrap;
        margin-bottom: 60px;
        &>li{
            width: 100%;
            margin-right: 0;
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .feeBody{
            padding: 24px 16px 0px 16px;
        }
    }
}
.feeFormula{
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
    align-items: center;
    &>div{
        background: #F5F5F5;
        border-radius: 12px;
        padding: 24px 32px;
        h4{
            margin-bottom: 8px;
        }
        span{
            margin-right: 4px;
        }
    }
}
@media (max-width: 767px){
    .feeFormula{
        &>div{
            width: 46%;
            padding: 16px 24px;
        }  
    }
}
.functionList{
    margin-bottom: 42px;
    text-align: left;
    li{
        display: flex;
        margin-bottom: 16px;
        img{
            margin-right: 12px;
        }
    }
}
@media (max-width: 767px){
    .functionList{
        li{
            img{
                width: 16px;
                line-height: 14px;
            }
        }  
    }
}
.QAList{
    ul{
        text-align: left;
        margin-bottom: 100px;
        li{
            background-image: url("../images/icon_plus.svg");
            background-repeat: no-repeat;
            background-size:20px;
            background-position: top 19px right 32px;
            padding: 16px 32px;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            margin-bottom: 16px;
            p{
                display: none;
                margin-top: 24px;
                color: #747474;
                &.show {
                    display: block;
                }
            }
            &.active{
                font-weight: bold;
                color: $main-color;
                background-image: url("../images/icon_minus.svg");
            }
        }
    }
}
@media (max-width: 767px){
    .QAList{
        ul{
            margin-bottom: 60px;
            li{
                background-size:16px;
                padding: 16px;
            }
        }
    }
}