.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mt-24{
    margin-top: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-42{
    margin-bottom: 42px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-92{
    margin-bottom: 92px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-104{
    margin-bottom: 104px;
}

@media (max-width: 768px) {
    .s-mb-16{
        margin-bottom: 16px;
    }
    .s-mt-16{
        margin-top: 16px;
    }
    .s-mb-20{
        margin-bottom: 20px;
    }
    .s-mb-24{
        margin-bottom: 24px;
    }
    .s-mb-32{
        margin-bottom: 32px;
    }
    .s-mb-48{
        margin-bottom: 48px;
    }
    .s-mb-60{
        margin-bottom: 60px;
    }
    .s-mb-88{
        margin-bottom: 88px;
    }
}