/* 將套件主色改為黃色 */
:root {
    --swiper-theme-color: #FFD153;
  }
/* 調整 swiper 容器 */
.swiper {
    padding-top: 60px;
    padding-right: 16px;
  }
.swiper-wrapper {
    padding: 0 0 0 8px;
}
.swiper-slide {
    height: initial;
}

/* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
.swiper-pagination-bullet-active {
    width: 16px;
    border-radius: 8px;
}

/* 讓分頁圓點移至下方 */
.swiper-pagination {
    position: static;
    margin-top: 24px;
}